{% extends "UnoegohhMailerBundle:Default:layout.html.twig" %}

{% block body %}
    <h1 style="font-size: 20px;color: #5c6774;margin: 15px 0 10px 20px">Рекламная акция</h1>
    <img src="http://cdn01.pegast.su/get/b7/7f/00/2e3fa78fd3157faa6e39efc02dd748efd493a9d66e7c3368a8d9d41a68/reklama.png" width="599px" height="165px" alt="">
{% endblock %}
