{% extends "UnoegohhMailerBundle:Default:layout.html.twig" %}

{% block body %}
    <h1 style="font-size: 20px;color: #5c6774;margin: 15px 0 10px 20px">Рекламная акция</h1>
    <img src="http://cdn01.pegast.su/get/b7/7f/00/2e3fa78fd3157faa6e39efc02dd748efd493a9d66e7c3368a8d9d41a68/reklama.png" width="599px" height="165px" alt="">
    <p style="font-size: 12px ;color: #000000;margin: 15px 0 10px 20px">
        Условия проведении акции: <br>
        •  Забронируйте и оплатите любой тур PEGAS Touristik в период с 15.11.2012 по 14.12.2012<br>
        •  Период проживания туристов с 15.11.2012 по 28.12.12<br>
        <br><br>
        Бонусы<br>
        Бронировании и оплата туров более чем за 36 дней до вылета — 1,8%,<br>
        от 35 до 10 дней — 1,5%.<br>
        <br>
        <a href="#" style="color:#116296;">Принять участие</a>
    </p>
{% endblock %}
