<body style="background: #f1f1f1;font-size: 12px;">

<table width="599px" bgcolor="white"
       style="border: 1px solid #c4c4c4;margin: 0 auto;font-family: Tahoma, sans-serif;font-size: 12px;" cellpadding="0"
       cellspacing="0">
    <tr>
        <td>
            <table width="599px" style="border-bottom: 1px solid #c4c4c4;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding: 5px 0 0 20px;vertical-align: top;"><a href="#"><img
                            src="http://cdn01.pegast.su/get/56/96/02/bc467691d825e7e3b06e6aa89293fc0f51c52b7a94a6247221a154bb0d/logo.png"
                            style="border: none" alt=""></a>
                    </td>
                    <td style="padding: 5px 0 0 0;vertical-align: top ;">
                        <p style="margin: 0;color: #3d444c;font-size: 12px;font-family: Tahoma, sans-serif;">Звонки принимаются круглосуточно</p>

                        <p style="margin: 0;color: #3d444c;font-size: 24px;font-family: Tahoma, sans-serif;">(495) 287-87-87 <br>8 800 700-87-47</p>
                    </td>
                    <td style="padding: 10px 0 0 0;vertical-align: top ;">
                        {% spaceless %}
                            <a href="#vk" style="margin: 0 2px 2px 0;display: inline-block;"><img
                                    src="http://cdn01.pegast.su/get/43/15/b9/f7bfd5dbc77b2e077ec79381f69be1bc9f0a8a6e5f6552372a1afcf46d/vk.png"
                                    alt=""></a>
                            <a href="#facebook" style="margin: 0 2px 2px 0;display: inline-block;"><img
                                    src="http://cdn01.pegast.su/get/ee/f3/6b/ae7416d017f60473e4546496da091d82904277442a95cde60d746eccfe/facebook.png"
                                    alt=""></a><br>
                            <a href="#jj" style="margin: 0 2px 2px 0;display: inline-block;"><img
                                    src="http://cdn01.pegast.su/get/ed/cb/d1/22d602e042566e9b756e049998aeb37332597648bb3d79028bdee95cae/jj.png"
                                    alt=""></a>
                            <a href="#twitter" style="margin: 0 2px 2px 0;display: inline-block;"><img
                                    src="http://cdn01.pegast.su/get/0e/d7/44/6a0116da031b3b051ce67bfa408d0b2bd92ab506dda4b18efc76b6ff17/twitter.png"
                                    alt=""></a>
                        {% endspaceless %}
                    </td>
                </tr>
            </table>
            <table width="599px" cellpadding="0" cellspacing="0" style="border-bottom: 1px solid #c4c4c4;">
                <tr>
                    <td  style="margin: 0 0 10px 20px;font-size: 12px;font-family: Tahoma, sans-serif;">
                        <p></p>Уважаемые друзья. <br>Благодарим, что выбрали для вашего путешествия туроператора <a href="http://pegast.ru" style="color: #00578f;">PEGAS Touristik</a>.
                    </td>
                </tr>
            </table>
            <ul style="list-style-type: square;padding: 10px 0 0 20px">
                <li style="margin: 0 0 15px 0;">
                    Полетная программа из 45 городов России. <br>
                    Перелеты осуществляются ведущими авиакомпаниями:<br>
                    Аэрофлот, Emirates, Трансаэро и Turkish Airlines, Nord Wind и Оренбургские авиалинии.
                </li>
                <li style="margin: 0 0 15px 0;">
                    Отдых на лучших курортах в более чем 4 000 отелях в 22 странах мира — <br>
                    лучшие отели под знаком <a href="#" style="color: #00578f;">Пегас рекомендует</a> и <a href="#"
                                                                                                           style="color: #00578f;">Лучшие
                    предложения</a>
                </li>
                <li style="margin: 0 0 15px 0;">Разные виды отдыха:<br>
                    <table style="margin: 10px 0 0 0" width="450px" cellpadding="0" cellspacing="0" >
                        <tr style="vertical-align: top;">
                            <td>
                                <ul style="font-size: 12px;list-style-type: disc;font-family: Tahoma, sans-serif;">
                                    <li>семейный</li>
                                    <li>молодежный</li>
                                    <li>активный</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="font-size: 12px;list-style-type: disc;font-family: Tahoma, sans-serif;">
                                    <li>корпоративные</li>
                                    <li>спортивный</li>
                                    <li>групповой</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="font-size: 12px;list-style-type: disc;font-family: Tahoma, sans-serif;">
                                    <li>индивидуальные</li>
                                    <li>VIP</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <table width="599px"  cellpadding="0" cellspacing="0">
                <tr>
                    <td bgcolor="#ffcc33" colspan="3"><img
                            src="http://cdn01.pegast.su/get/f8/bb/fd/528a7087c446ed744d7ac20eca79ba215eb8a1297fb957eac7a792f9d4/10x10.gif"
                            alt=""></td>
                </tr>
                <tr>
                    <td bgcolor="#f1f1f1" style="vertical-align: top;border-right: 1px solid #9da4ab;">
                        <h2 style="margin:10px 15px 6px;font-size: 20px; color: #5c6774;font-family: Tahoma, sans-serif;"><img
                                src="http://cdn01.pegast.su/get/3c/92/0f/029267a2cc9d4f4bf59f1ca63b05e5092c8db807d313fcaca558483cd8/marrocoflag.png"
                                alt=""> &nbsp;Марокко</h2>
                        <img src="http://cdn01.pegast.su/get/a0/f1/f5/d13d116f69ee8e267f9b1f5a79831746fc84ab77609bf67012c331b87a/marrocoimg.png"
                             alt="">

                        <p style="color: #3d444c;font-size: 12px;margin: 10px 20px;font-family: Tahoma, sans-serif;">11 ночей на двоих <br>По каталогу —
                            38 424 Р</p>

                        <p style="font-family: Tahoma, sans-serif;color: white;font-size: 18px; text-align: right;background: url(http://cdn01.pegast.su/get/d4/df/06/e81b4b03dc143d92432717a3ac770a1cd07aa643ba613990b385573dff/label.png) no-repeat right center; margin: 10px;padding: 0 5px 0 0; height: 24px;line-height: 24px;">
                            от 5 404 Р/мес*</p>
                    </td>
                    <td bgcolor="#f1f1f1" style="vertical-align: top;border-right: 1px solid #9da4ab;">
                        <h2 style="font-family: Tahoma, sans-serif;margin:10px 15px 6px;font-size: 20px; color: #5c6774;"><img
                                src="http://cdn01.pegast.su/get/6a/34/54/8ba1fa721c64c7e06d8158023fe1b2c0e70ef1ac31ab138cc00a451ca7/jordanflag.png"
                                alt=""> &nbsp;Иордания</h2>
                        <img src="http://cdn01.pegast.su/get/cd/00/a1/67fde401e4048ca3bbef88f950b53db8ffd13d52f74fc281ab149f71a0/jordanimg.png"
                             alt="">

                        <p style="font-family: Tahoma, sans-serif;color: #3d444c;font-size: 12px;margin: 10px 20px;">11 ночей на двоих <br>По каталогу —
                            38 424 Р</p>

                        <p style="font-family: Tahoma, sans-serif;color: white;font-size: 18px; text-align: right;background: url(http://cdn01.pegast.su/get/d4/df/06/e81b4b03dc143d92432717a3ac770a1cd07aa643ba613990b385573dff/label.png) no-repeat right center; margin: 10px;padding: 0 5px 0 0; height: 24px;line-height: 24px;">
                            от 5 404 Р/мес*</p>
                    </td>
                    <td bgcolor="#f1f1f1" style="vertical-align: top;">
                        <h2 style="font-family: Tahoma, sans-serif;margin:10px 15px 6px;font-size: 20px; color: #5c6774;"><img
                                src="http://cdn01.pegast.su/get/da/01/de/068b233fe4d13271b77cead59daa2ff333aeb146b0dc3ce749aa08d0d4/maldivflag.png"
                                alt=""> &nbsp;Мальдивы</h2>
                        <img src="http://cdn01.pegast.su/get/d5/75/aa/388f846cf8bb94f557331cea4e6a201e99ecab57cfaf787c066e78eadc/maldivesimg.png"
                             alt="">

                        <p style="font-family: Tahoma, sans-serif;color: #3d444c;font-size: 12px;margin: 10px 20px;">11 ночей на двоих <br>По каталогу —
                            38 424 Р</p>

                        <p style="font-family: Tahoma, sans-serif;color: white;font-size: 18px; text-align: right;background: url(http://cdn01.pegast.su/get/d4/df/06/e81b4b03dc143d92432717a3ac770a1cd07aa643ba613990b385573dff/label.png) no-repeat right center; margin: 10px;padding: 0 5px 0 0; height: 24px;line-height: 24px;">
                            от 5 404 Р/мес*</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#c6d8e1" colspan="3"><img
                            src="http://cdn01.pegast.su/get/f8/bb/fd/528a7087c446ed744d7ac20eca79ba215eb8a1297fb957eac7a792f9d4/10x10.gif"
                            alt=""></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table width="599px" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="50%" style="vertical-align: top;border-right: 1px solid #9da4ab;">
                                    <h2 style="font-family: Tahoma, sans-serif;margin:10px 15px 6px;font-size: 20px; color: #5c6774;"><img
                                            src="http://cdn01.pegast.su/get/33/0f/60/df58f2ee9616ef6ba7c671dc466e876608019499799cf70e4169aa315d/turkeyflag.png"
                                            alt=""> &nbsp; Турция</h2>
                                    <img src="http://cdn01.pegast.su/get/4b/2a/ca/87f7e9eebdda7e8746e42bae944cf7bd018b2a5b7535c74d8db8382f2a/andorraimg.png"
                                         alt="">

                                    <p style="font-family: Tahoma, sans-serif;color: #3d444c;font-size: 12px;margin: 10px 20px ;">11 ночей на двоих По
                                        каталогу — 38 424 Р</p>

                                    <p style="font-family: Tahoma, sans-serif;color: white;font-size: 18px;; text-align: right;background: url(http://cdn01.pegast.su/get/d4/df/06/e81b4b03dc143d92432717a3ac770a1cd07aa643ba613990b385573dff/label.png) no-repeat right center; margin: 10px;padding: 0 5px 0 0; height: 24px;line-height: 24px;">
                                        от 5 404 Р/мес*</p>
                                </td>
                                <td width="50%" style="vertical-align: top;">
                                    <h2 style="font-family: Tahoma, sans-serif;margin:10px 15px 6px;font-size: 20px; color: #5c6774;"><img
                                            src="http://cdn01.pegast.su/get/76/f2/27/96e50e9c1e82108cc84e97404c65ee8a98193aee31f2ab6152e454395b/andorraflag.png"
                                            alt=""> &nbsp;Андорра</h2>
                                    <img src="http://cdn01.pegast.su/get/c9/a6/8e/c677937daf3e813576cbae06437b157a2730af5c04bbf81a43df9a223c/turkeyimg.png"
                                         alt="">

                                    <p style="font-family: Tahoma, sans-serif;color: #3d444c;font-size: 12px;margin: 10px 20px ;">11 ночей на двоих По
                                        каталогу — 38 424 Р</p>

                                    <p style="font-family: Tahoma, sans-serif;color: white;font-size: 18px;; text-align: right;background: url('http://cdn01.pegast.su/get/d4/df/06/e81b4b03dc143d92432717a3ac770a1cd07aa643ba613990b385573dff/label.png') no-repeat right center; margin: 10px;padding: 0 5px 0 0; height: 24px;line-height: 24px;">
                                        от 5 404 Р/мес*</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="599px" style="font-family: Tahoma, sans-serif;font-size: 12px;margin: 0 0 0 15px" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="6" width="599px">
                        <p style="padding: 0 0 0 15px;color: #3d444c;margin: 5px 0 7px;font-family: Tahoma, sans-serif;">Отдых в таких странах</p></td>
                </tr>
                <tr>
                    <td width="15%"><a href="#" style="color:#116296;">Марокко</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Мальдивы</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Андорра</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Маврикий</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Иордания</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Вьетнам</a></td>
                </tr>
                <tr>
                    <td width="15%"><a href="#" style="color:#116296;">Греция</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Доминикана</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Египет</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Израиль</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Индия</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Индонезия</a></td>
                </tr>
                <tr>
                    <td width="15%"><a href="#" style="color:#116296;">Испания</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Кения</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Кипр</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Китай</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Куба</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Мексика</a></td>
                </tr>
                <tr>
                    <td width="15%"><a href="#" style="color:#116296;">ОАЭ</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Таиланд</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Тунис</a></td>
                    <td width="15%"><a href="#" style="color:#116296;">Турция</a></td>
                    <td width="15%"></td>
                    <td width="15%"></td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <br>
                        <br></td>
                </tr>

            </table>
            <table width="599px"  cellpadding="0" cellspacing="0" >
                <tr>
                    <td width="599px"  colspan="6" bgcolor="#5c6774" cellpadding="0" cellspacing="0">
                        <p style="color: white;margin: 20px 15px 20px;font-size: 12px;font-family: Tahoma, sans-serif;">Если Вы хотите отказаться от получения
                            спецпредложений и акций по турпродукту PEGAS Touristik,<br>
                            перейдите по этой <a href="#" style="color: white">ссылке</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
